attrs==21.2.0
iniconfig==1.1.1
-e git+ssh://git@github.com/iamezcua-dev/invz-code-challenge.git@5a328d11dc58262518df536b2fee4e20deb654e3#egg=innovyze_interview_challenge_1&subdirectory=interview_1
numpy==1.21.2
packaging==21.0
pluggy==1.0.0
py==1.10.0
pyparsing==2.4.7
pytest==6.2.5
toml==0.10.2
